#define TRANSPARENT_LAYER \
            bindings = < \
 &trans  &trans  &trans  &trans  &trans  &trans                                       &trans  &trans  &trans  &trans  &trans  &trans \
 &trans  &trans  &trans  &trans  &trans  &trans                                       &trans  &trans  &trans  &trans  &trans  &trans \
 &trans  &trans  &trans  &trans  &trans  &trans                                       &trans  &trans  &trans  &trans  &trans  &trans \
 &trans  &trans  &trans  &trans  &trans  &trans                                       &trans  &trans  &trans  &trans  &trans  &trans \
                 &trans  &trans  &trans                                                       &trans  &trans  &trans \
                                          &trans  &trans  &trans      &trans  &trans  &trans \
            >; \
        
