#define COMBO_TERM_FAST 18
#define COMBO_TERM_SLOW 30

#define COMBO_IDLE_FAST 150
#define COMBO_IDLE_SLOW 50



ZMK_COMBO(enter,              &kp RET,           POS_RH_C2R3 POS_RH_C3R3 POS_RH_C4R3, ALL, 25)
ZMK_COMBO(delete,             &kp DEL,           POS_LH_C2R3 POS_LH_C1R3, ALL, 25)
ZMK_COMBO(backspace,          &kp BACKSPACE,     POS_RH_C2R3 POS_RH_C1R3, ALL, 25)

ZMK_COMBO(ae,                 &ae,              POS_RH_C2R3 POS_RH_C3R3, ALL, 25)
ZMK_COMBO(oe,                 &oe,              POS_RH_C2R3 POS_RH_C3R2, ALL, 25)
ZMK_COMBO(ue,                 &ue,              POS_RH_C2R2 POS_RH_C3R2, ALL, 25)
ZMK_COMBO(sz,                 &sz,              POS_RH_C5R2 POS_RH_C4R2, ALL, 25)

ZMK_COMBO(gt,    &kp GT,   POS_RH_C1R2 POS_RH_C1R3, ALL, 25)
ZMK_COMBO(rbkt,  &kp RBKT, POS_RH_C2R2 POS_RH_C2R3, ALL, 25)
ZMK_COMBO(rpar,  &kp RPAR, POS_RH_C3R2 POS_RH_C3R3, ALL, 25)
ZMK_COMBO(rbrc,  &kp RBRC, POS_RH_C4R2 POS_RH_C4R3, ALL, 25)
ZMK_COMBO(tab,   &kp TAB,  POS_LH_C2R3 POS_LH_C3R3 POS_LH_C4R3, ALL, 25)
/*
// vertical top

ZMK_COMBO(at,             &kp AT,         POS_LH_C4R2 POS_LH_C4R3, ALL, 25)
ZMK_COMBO(hash,           &kp HASH,       POS_LH_C3R2 POS_LH_C3R3, ALL, 25)
ZMK_COMBO(dollar,         &kp DOLLAR,     POS_LH_C2R2 POS_LH_C2R3, ALL, 25)
// vertical bottom


// left horizontal


ZMK_COMBO(esc,         &kp ESC,     POS_LH_C4R2 POS_LH_C3R2, ALL, 25)
ZMK_COMBO(panic,       &to 0,      POS_LH_C2R2 POS_LH_C1R2, ALL, 25)
// ZMK_COMBO(esc,         &kp ESC,     POS_LH_C4R2 POS_LH_C3R2, ALL, 25)

// right horizontal
ZMK_COMBO(esc,         &kp ESC,       POS_LH_C4R2 POS_LH_C3R2, ALL, 25)
ZMK_COMBO(enter,       &kp ENTER,     POS_RH_C2R3 POS_RH_C3R3 POS_RH_C4R3)
ZMK_COMBO(backspace,   &kp BACKSPACE, POS_RH_C2R3 POS_RH_C1R3)

ZMK_COMBO(at,         &kp AT,     POS_LH_C2R2 POS_LH_C3R2, ALL, 25)

// ZMK_COMBO(numword,    &to 0,      POS_RH_T1 POS_LH_T2, ALL, 25)

// ZMK_COMBO(esc,        &kp ESC,   POS_LH_C2R3 POS_LH_C3R3, ALL, 25)
// ZMK_COMBO(colon,      &kp COLON, POS_RH_C2R3 POS_RH_C3R3, ALL, 25)
// ZMK_COMBO(semicolon,  &kp SCLN,  POS_RH_C2R3 POS_RH_C3R4, ALL, 25)

// ZMK_COMBO(left_ctl,  &skq LCTL, POS_LH_C4R3 POS_LH_C3R3, ALL, 25)
// ZMK_COMBO(eight_ctl,  &skq RCTL, POS_RH_C4R3 POS_RH_C3R3, ALL, 25)
// ZMK_COMBO(left_alt,  &skq LALT, POS_LH_C4R2 POS_LH_C3R2, ALL, 25)
// ZMK_COMBO(left_gui,  &skq LGUI, POS_LH_C2R4 POS_LH_C3R4, ALL, 25)
// ZMK_COMBO(right_gui,  &skq RGUI, POS_RH_C2R4 POS_RH_C3R4, ALL, 25)

//ZMK_COMBO(lt,    &kp LT,   POS_LH_C1R2 POS_LH_C1R3, ALL, 25)
//ZMK_COMBO(lbkt,  &kp LBKT, POS_LH_C2R2 POS_LH_C2R3, ALL, 25)
//ZMK_COMBO(lpar,  &kp LPAR, POS_LH_C3R2 POS_LH_C3R3, ALL, 25)
//ZMK_COMBO(lbrc,  &kp LBRC, POS_LH_C4R2 POS_LH_C4R3, ALL, 25)

*/
